
body {
  min-height: 100vh;
}

body:has(#root):has(.withBg) {
  background-image: url('../src/assets/images/background.png');
  background-size: 1400px;
  background-position: 15vw -10vh;
  background-repeat: no-repeat;
}